@media (max-width: 575.98px) {
    .hdr-right{
        display: none;
    }
    .menu{
        display: flex;
    }

    .column {
        width: 100%;
    }

    .column2 {
        width: 100%;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .column {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }

    .list{
        display: none;
    }
    .menu{
        display: flex;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .column {
        width: 100%;
    }

    .column2 {
        width: 50%;
    }

}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .column {
        width: 50%;
    }

    .column2 {
        width: 50%;
    }

}


@media (min-width: 1200px) and (max-width: 1399.98px) {
    .column {
        width: 50%;
    }

    .column2 {
        width: 25%;
    }

}

@media (min-width: 1400px) {
    .column {
        width: 50%;
    }

    .column2 {
        width: 25%;
    }



}



















@media (min-width: 576px) {

    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}  
